<%= form_for @x10module, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> X10module</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :unit_code, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :unit_code, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :rows => 2, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :is_dimmable, 'Type', :class => 'control-label' %>
      <div class="controls">
		<div class="btn-group" data-toggle="buttons-radio">
			<button type="radio" class="btn btn-primary" value="1" name="x10module[is_dimmable]" id="x10module_is_dimmable_1">Lamp</button>
			<button type="radio" class="btn btn-primary" value="0" name="x10module[is_dimmable]" id="x10module_is_dimmable_0">Appliance</button>
		</div>
      </div>
    </div>
    <div class="form-actions">
      <%= link_to 'Cancel', x10modules_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
