<h1>X10 Control Center</h1>

<% @x10modules.each do |x10module| %>
<div class="mainmodule" id="module_<%=x10module.id%>">
    <div class="unit_name"><%= x10module.name %></div>
	<div class="unit_code"><%= x10module.unit_code %></div>
	<div class="module_controls">
		
		<%= button_to "Off", unit_off_x10module_url(x10module) %>
		<% if x10module.is_dimmable %>
			<%= button_to "-", unit_dim_x10module_url(x10module) %>
			<%= button_to "+", unit_bright_x10module_url(x10module) %>	
		<% end %>
		<%= button_to "On", unit_on_x10module_url(x10module) %>
		
	</div>
    <div class="unit_description"><%= x10module.description %></div>
	<div class="destroy"><%= link_to '[X]', x10module, confirm: 'Are you sure?', method: :delete %></div>
</div>
<% end %>

<br />

<%= link_to 'Add Module', new_x10module_path %>
