<h1>X10module</h1>

<p>
  <b>Name</b><br>
  <%= @x10module.name %>
</p>

<p>
  <b>Unit code</b><br>
  <%= @x10module.unit_code %>
</p>

<p>
  <b>Description</b><br>
  <%= @x10module.description %>
</p>

<p>
  <b>Is dimmable</b><br>
  <%= @x10module.is_dimmable %>
</p>

<div class="form-actions">
  <%= link_to 'Back', x10modules_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_x10module_path(@x10module), :class => 'btn' %>
  <%= link_to 'Delete', x10module_path(@x10module), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
