<!DOCTYPE html>
<html>
<head>
  <title>X10rails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag	 "base_skin"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a href="#" class="brand">X10Rails</a>
			<div class="nav-collapse">
				<ul class="nav">
			  		<li class="<%= if controller.action_name == "index" then "active" end %>">
						<a href="#"><i class="icon-white icon-home"></i> Home</a>
			  		</li>
			  		<li><a href="#"><i class="icon-white icon-cog"></i> Settings</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<%= yield %>
</div>
</body>
</html>
