<!DOCTYPE html>
<html>
<head>
  <title>X10rails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag	 "base_skin"%>
  <%= javascript_include_tag "application", "bootstrap-button" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
		$('.tabs').button();
	</script>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a href="#" class="brand">X10Rails</a>
			<div class="nav-collapse">
				<ul class="nav">
			  		<li class="<%= if controller.action_name == "control_window" then "active" end %>">
						<%= link_to "Home", root_path %>
			  		</li>
			  		<li class="<%= if controller.action_name == "index" then "active" end %>">
						<%= link_to "Settings", x10modules_path %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<%= yield %>
</div>
</body>
</html>
